@charset "utf-8";

@media print {
	#navBar {
		display:none;
 	}
}

/*
----------------------------------------------------------
Regeln f�r allgemeine Elemente
---------------------------------------------------------- */

/* Farben und Hintergrund setzen */
body{
    font-size: 16px;
	font-family: Arial, sans-serif;
	color: #333333;
	line-height: normal;
	margin: 0px;
	padding: 0px;
	clear: none;
	float: none;
	height: auto;
	width: 100%;
	border-right-width: 0px;
	border-right-style: none;
	overflow: visible;
	visibility: visible;
	padding-top: 10px;
	position: absolute;
}

img{
	border:0px;
}

/*Links*/
a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}

a:hover{
	color: #006699;
	text-decoration: underline;
	width: 100px;
}

/*Überschriften*/
h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h2{
 font-family: Arial,sans-serif;
 font-size: 114%;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font-family: Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Arial,sans-serif;
 font-size: 100%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

/*Listenelemente*/
ul{
	list-style-type: square;
	padding-left: 10px;
}

ul ul{
 list-style-type: circle;
}

ul ul ul{
 list-style-type: none;
}

label{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#masthead{
	padding: 0px;
	width: auto;
	height: auto;
	float: left;
	clear: left;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 10px;
	overflow: hidden;
}

#headlines{
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 0 100px 0 0;
}

#headlines{
	margin: 10px;
	width: 12em;
	font-size: 80%;
	float: right;
	padding: 10px 0 20px 10px;
	clear: right;
	right: 0px;
	top: 60px;
	border: thin solid #CCCCCC;
	left: auto;
	position: absolute;
	visibility: visible;
}
#headlines p{
	padding: 5px 0px 5px 0px;
}

#navBar{
	float: left;
	margin: 10px;
	padding: 0px;
	background-color: #EEEEEE;
	border: 1px solid #cccccc;
	top: 60px;
	left: 0px;
	position: absolute;
	width: 9.5em;
}

/*********** #navBar link styles ***********/
#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}
#navBar li {border-bottom: 1px solid #EEE;}
html>body #navBar li {border-bottom: none;}

/*********** .relatedLinks styles ***********/

.relatedLinks{
	margin: 5px;
	font-size: 90%;
	width: auto;
	padding: 0px 10px 10px 10px;
	top: 80px;
	left: 0px;
	float: left;
	clear: left;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
	width: auto;
}

.relatedLinks a:link,
.relatedLinks a:visited {
	display: block;
	width: auto;
}

/* Site info (Fusszeile)*/
#siteInfo{
       clear: both;
       font-size: 75%;
       color: #999999;
       padding: 10px 10px 10px 10px;
       width: auto;
       border-top-width: 1px;
       border-right-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px;
       border-top-style: solid;
       border-right-style: none;
       border-bottom-style: none;
       border-left-style: none;
       border-top-color: #cccccc;
       border-right-color: #cccccc;
       border-bottom-color: #cccccc;
       border-left-color: #cccccc;
       visibility: visible;
}

#siteInfo img{
       padding: 4px 4px 4px 10px;
       vertical-align: middle;
}
 


/************ #welcome-note style *************/
#welcome-note{
	width: 55%;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: ridge;
	border-left-style: none;
	border-top-color: #006699;
	border-right-color: #006699;
	border-bottom-color: #006699;
	border-left-color: #006699;
	clear: right;
	height: auto;
	float: none;
}

.uni-logo {
	clear: right;
	float: right;
	top: 0px;
	right: 0px;
	position: absolute;
	margin: 10px 0 0 0;
	padding: 0 6px 0 0;
	background-color: #FFFFFF;
}

.Institut {
	text-align: center;
	width: 9.5em;
	float: none;
	padding-top: 3px;
}

.Koepke{
	margin: 5px;
	font-size: 90%;
	width: auto;
	padding: 3px 10px 10px 0;
	left: 0px;
	float: left;
	clear: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
}

.endpage {
	visibility: visible;
	height: 5px;
	width: 100%;
	overflow: visible;
	clear: both;
	display: block;
	page-break-after: always;
}

.styleDATE {
	color: #003399;
	font-weight: bold;
}

/* Navigation */
#navBar{
	float: left;
	margin: 10px;
	padding: 0px;
	background-color: #EEEEEE;
	border: 1px solid #cccccc;
	top: 60px;
	left: 0px;
	position: absolute;
	width: 9.5em;
}

/* Content */
div#content {
	min-height:220px;
	min-width:524px;
	width: 78%;
	margin: 30px 30px 0px 150px;
	padding: 30px 30px 0 30px;
	color: #000000;
}

/* desc */
div#desc {
	color: #000000;
	margin: 0 0 0 0; /* rechter Rand 10% entfernt*/
	padding: 0 0 0 0;
}

/* main */
div#main {
	min-height:200px;
	min-width:504px;
	width: 95%;
	margin: 0 0 0 0; /* rechter Rand 10% entfernt*/
	padding: 0 0 0 0;
	color: #000000;
}

#main textarea {
	font-family: Arial, sans-serif;	
	font-size: 16px;
	position:relative ;
	top:0px;
	left:0px;
	width:100%;
	height:380px;
	min-height:200px;
	min-width:500px;
	color: #000000;
	background-color:#EEEEEE;
	border: 2px solid #000000;
	margin: 1em 0 0 0;
}

#function {
	background-color:#FFFFFF;
}

#function input {
	position:relative;
	font-family: Arial, sans-serif;		
	font-size: 16px;
	/*width:24%;*/
	height:30px;
	min-height:30px;
	min-width:25px;
	color: #FFFFFF;
	background-color:#467ba7;
	overflow:hidden;
	border: 2px solid #000000;
	margin: 10px 5px 0 0;
	padding: 3px 3px 3px 3px;
	cursor:pointer;
}
#function input.DBMoff{
	height:30px;	
	font-family: Arial, sans-serif;	
	font-size: 16px;
	background-color:#234853;
	border: 2px solid #000000;
	color: #FFFFFF;
	margin: 10px 5px 0 0;
	padding: 3px 3px 3px 3px;
}
#function input.DBMon{
	height:30px;	
	font-family: Arial, sans-serif;	
	font-size: 16px;
	background-color:#238F53;
	border: 2px solid #000000;
	color: #FFFFFF;
	margin: 10px 5px 0 0;
	padding: 3px 3px 3px 3px;
}

/*Bereiche für Bilder*/
div#navpic {
	clear: left;
	float: left;
	top: 0px;
	left: 0px;
	width: 100%; /*630 max*/
	min-width:100px;	
	overflow:hidden;
	margin: 1em 0 0 0;
}

div#pic {
	clear: left;
	float: left;
	top: 0px;
	left: 0px;
	width: 100%; /*630 max*/
	min-width:100px;	
	height:	70px;
	min-height:30px;
	color: #FFFFFF;
	overflow:hidden;
	margin: 1em 0 0 0;
}

div#pici {
	top: 0px;
	bottom: 0px;
	width: 100%; /*630 max*/
	color: #00FF00;
	background-color:#EEEEEE;
	margin: 0 0 0 0;
	border:0px #000000 solid;
}

/* function */
div#function {
	width:100%;
	height:100%;	
	min-height:20px;
	min-width:504px;
	margin: 0 0 0 0; /* rechter Rand 10% entfernt*/
	padding: 0 0 0 0;
	/*background-color: #5588AA;*/
	color: #EEEEEE;
}

/* settings */
div#settings {
	width:100%;
	height:100%;
	min-height:20px;
	min-width:504px;
	margin: 0 0 0 0px; /* rechter Rand 10% entfernt*/
	padding: 0 0 0 0;
	background-color: #FFFFFF;
	font-family: Verdana,Arial,sans-serif;
	font-size: 80%;
	color:	#334d55;
}

/* output */
div#output {
	width: 95%;
	height: 100%;
	min-height:0px;
	min-width: 504px;
	margin: 5px 0 0 0; /* rechter Rand 10% entfernt*/
	padding: 10px 0 10px 10px; 
	color: #000000;
	background-color:#EEEEEE;
}

#masthead{
	padding: 0px;
	width: auto;
	height: auto;
	float: left;
	clear: left;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 10px;
	overflow: hidden;
}

div#logo {
	width:100%;
	height:100%;
	clear: left;
	float: left;
	top: 0px;
	right: 0px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	/*background-color: #FFFFFF;*/
	background: #FFFFFF url(../img/naproche-header.jpg) top left no-repeat;
}

div#timeSpent{
	background-color:#FFFFFF;
}

div#warerr{
	width:95%;
	height:100%;
	min-height:0px;
	min-width:504px;
	margin: 0 10% 0 0; /* rechter Rand 10% entfernt*/
	padding: 0 0% 0 0; 
	color: #000000;
	background-color:#FF8800;
}

/*Farben für Fehlertabellen und andere Hervorhebungen*/
#green{
	float:left;
	color: #008800;
}

#red{
	float:left;
	color: #FF0000;
}

#orange{
	float:left;
	color:#FF8800;
}

#yellow{
	float:left;
	color:#FFFF00;
}

#blue{
	color: #006699;
	cursor:pointer;
}
#blue:hover{
	text-decoration: underline;
	cursor:pointer;
}

#normal{
	color: #000000;
}

/*Hintergunrdfarbe und Tabellengröße*/
#timeSpent table{
	background-color:#FFFFFF;
	width: 100%;
}

/*Farbe der Linien*/
#timeSpent hr{
	color: #000000;
}

/*Neues Menu*/
 ul.ribbonMenu, ul.ribbonContent{
	margin:0;
	width: 100%;
	padding:0;
	clear:both;
	list-style:none;
}

ul.ribbonMenu li{
	float:left;
	margin-left: 5px;
	border:2px #FFFFFF solid;
	margin: 0px;
} 

ul.ribbonMenu li a{
	/*display:block;*/
	padding:2px 30px 2px 30px;
	text-decoration:none;
	border:0px #000000 solid;
	margin: 0px;
} 

ul.ribbonContent li{
	background-color:#eeeeee;
	width: 95%;
	border:0px #000000 solid;
	margin: 2px 2px 2px 2px;
}

/*Output Prolog Statistiken*/
.obligations{
	/*background-color:#CCCCCC;*/
	color: #000000;
	padding: 5px 5px 5px 5px; 
	width: 90%;
	margin: 10px 0px 10px 0px; /* linker Rand 20 px*/
}
/*Tabelleneinträge der Fehlermeldungen*/
.theorem{
	background-color:#55DD55;
	padding: 5px 5px 5px 15px; 
}

.warning{
	/* background-color:#FFFF00; */
	background-color:#FF8800;
	padding: 5px 5px 5px 15px; 
}

.noproof{
	background-color:#FF7777;
	padding: 5px 5px 5px 15px; 
}

/*Um die Icons zu kennzeichnen*/
.mark{	background-color:#FFFFFF;
	border-color:#000000;
	border-width:2px;
	border-style:solid;
	padding:1px;
	cursor:pointer;
}
.unmark{
	background-color:#EEEEEE;
	border-color:#EEEEEE;
	border-width:2px;
	border-style:solid;
	padding:1px;
}

#prsid{
}

#result{
}

#highlight{
}

#formulaid{
}

#stats{
}

#atpin{
}

#atpout{
}
